[Unit]
Description=pyesa
After=network.target

[Service]
User=root
WorkingDirectory=/opt/pyesa-api
ExecStart=/opt/pyesa-api/.venv/bin/python3 main.py
Restart=always
SyslogIdentifier=pyesa-api

[Install]
WantedBy=multi-user.target